<h1>Agregar empleado</h1>


<%= simple_form_for(@user, :validate => true,  :html => {:class => 'form-horizontal' }) do |f| %>
  <%= f.error_notification %>
  <%= f.input :name, :autofocus => true, :required => true %> 
  <%= f.input :lastname, :required => true %>
  <%= f.input :email, :required => true %>
  <%= f.input :password, :required => true %>
  <%= f.input :password_confirmation, :required => true %>
  <%= f.button :submit, 'Agregar', :class => 'btn-primary' %>
<% end %>

<%= link_to 'Cancelar', users_path %>
